<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <img src="<%=user.picture%>" alt="">
        <h1><%=user.name%></h1>
        <p><%=user.email%></p>
    </div>

    <a href="/logout"><button>logout</button></a>
    
</body>
</html>