<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
    <!-- <meta name="google-signin-client_id" content="487575055750-7nt6aoe5amufdg7snh6i9la0jscc8kar.apps.googleusercontent.com"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
      <a href="/auth/google">

        <button>Google signin</button>
      </a>
    </div>
    

</body>
</html>